.footer {
    background-color: #3d3f46;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -2px;
    font-family: "Roboto", sans-serif;
}

.footer-box a { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #797b81;
    border-right: 2px solid #797b81;
    border-bottom: 2px solid #797b81;
    font-size: 1.3rem;
    font-weight: 550;
    text-decoration: none;
    color: inherit;
}

.footer-box-bold {
    margin-left: 5px ;
    font-size: 1.2em;
    font-weight: 1000;
}

/* Final black block */
.bottom-black-block {
    height: 100px;
    background-color: #0e101c;
}